<ion-header>
  <ion-toolbar>
    <ion-title>
      Ai Pede
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let bakery of listBakery" (click)="bakeryMenu()">
    <ion-item>
      <ion-avatar item-start>
        <img [src]="bakery.img">
      </ion-avatar>
      <h2>{{bakery.id}}</h2>
      <p>{{bakery.title}}</p>
    </ion-item>
      
    <img [src]="bakery.img">
      
    <ion-card-content>
      <p>{{bakery.description}}</p>
    </ion-card-content>
      
    <ion-row>
      <ion-col>
        <button ion-button color="primary" clear small icon-left>
        <ion-icon name='thumbs-up'></ion-icon>
        {{bakery.likes_count}} Likes
      </button>
      </ion-col>
      <ion-col>
        <button ion-button color="primary" clear small icon-left>
        <ion-icon name='text'></ion-icon>
        {{bakery.comments_count}} Comments
      </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          {{bakery.createdAt}}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
